.map {
    height: max(20rem,100vh);
    width: 100%;
}

.map:global(.leaflet-marker-icon) {
    border-radius: 50%;
    filter: drop-shadow(0 0 0.5rem hsl(0, 0%, 40%, 0.5));
}

.markerIcon {
    filter: drop-shadow(0 0.3rem 0.2rem hsl(0, 0%, 40%, 0.5));
}

.notVisitedIcon {
    background: #1c813a; /* Alt: rgb(0 161 228), samme som i hamarøy kommunes våpenskjold*/
    border-radius: 50%;
    padding: 0.15rem !important;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
}
